@CHARSET "UTF-8";

.mypage {
	color: #ffffff;
  /* 画像ファイルの指定 */
  background-image: url(../img/sepia.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

.table th{
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}

.button {
  background-color: transparent;
  width: 130px;
  height: 30px;
  border-radius:100px;
  border:2px solid #ffffff;
  color: #fff;
}

.button:hover {
	background-color:rgba(255, 255, 255, .2);
}

 /* レスポンシブデザイン：タブレットの場合 */
 @media screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
#container{
width:100%;

 /* レスポンシブデザイン：スマートフォンの場合 */
 @media screen and (max-width:640px){
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
#container{
width:100%;

